::selection {
    background: black;
    color: white;
    text-shadow: none;
}

* {
    box-sizing: border-box;
}

html {
    font: normal 16px/24px "Open Sans", Helvetica, sans-serif;
}

body {
    background-color: #476173;
    color: white;
    padding: 3rem 2rem;
}

a {
    color: white;
}

.site-header {
    text-align: center;
}
.site-header h1 {
    margin: 0 0 3rem;
}

.note {
    background: white;
    box-shadow: 0 0.25rem 0.5rem -0.125rem rgba(0, 0, 0, 0.3), 0 0.575rem 0 -0.25rem #f2f2f2, 0 0.9rem 0.5rem -0.4rem rgba(0, 0, 0, 0.3), 0 1.12rem 0 -0.5rem #e6e6e6, 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.15);
    color: #333;
    margin: 0 auto 3rem;
    padding: 1rem;
    position: relative;
    z-index: 100;
    max-width: 25rem;
    display: block;
}
.note a {
    color: #D9453F;
    text-decoration: none;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.note a:focus, .note a:hover {
    text-decoration: underline;
}
.note header {
    border-bottom: 0.25rem solid #D9453F;
    padding-bottom: 1rem;
    position: relative;
    min-height: 2.25rem;
    -moz-transition-property: border-color;
    -o-transition-property: border-color;
    -webkit-transition-property: border-color;
    transition-property: border-color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.note select-color {
    margin-right: 50%;
    overflow: hidden;
    display: block;
}
.note select-color span {
    cursor: pointer;
    display: block;
    float: left;
    margin-right: .25rem;
    width: 1rem;
    height: 1rem;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.note select-color .color:last-child {
    margin-right: 0;
}
.note select-color .red {
    background-color: #D9453F;
}
.note select-color .blue {
    background-color: #4790B0;
}
.note select-color .green {
    background-color: #3C994B;
}
.note select-color .yellow {
    background-color: #F2D060;
}
.note select-color .orange {
    background-color: #FF774F;
}
.note .date {
    color: #999;
    display: inline-block;
    font-size: .75rem;
    font-style: italic;
    line-height: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 1rem;
}
.note .close {
    color: #ccc;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1rem;
    position: absolute;
    top: -1px;
    right: 0;
    width: .9rem;
    height: 1rem;
}
.note .close:focus, .note .close:hover {
    color: #D9453F;
}
.note .content {
    font-size: 1.2rem;
    margin: 1rem 0;
}
.note .content p {
    margin: 0 0 1rem;
}
.note .author {
    background-color: #D9453F;
    color: white;
    cursor: default;
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 3rem;
    margin-right: 4rem;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.note .avatar {
    display: block;
    float: right;
    max-width: 3rem;
    max-height: 3rem;
}
.note .avatar img {
    max-width: 100%;
    height: auto;
}
